
// font 
$font-arial: Arial;
$font-noto: 'Noto Sans JP', sans-serif;
$section-header-font-size: 55px;
$section-text-font-size: 18px; 

// colors
$white: #fff;
$gray-light:#C8D0E9;
$gold: #D1B87C;
$gold-dark: #9C895A;
$blue-dark: #1E2437;
$black: #151A27;

// sizes
$navbar-height: 90px;
$navbar-heigth-lg: 110px;


$nav-bar-width-sm: 100%;
$nav-bar-width-md: 90%;
$nav-bar-width-lg: 1200px;

$content-body-width-desctop: 1100px;